<form class="form-group d-flex" action="/answer" method="get">
  <input class="form-control" type="text" name="question" placeholder="Hey coach, how are you?">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
