// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray: rgb(120,120,120);

h1 {
  color: $gray;
  text-align: center;
}

h3 {
  font-size: 22px;
}

.message {
  border-left: 3px solid rgb(200,200,200);
  padding: 8px 16px;
  margin-bottom: 30px;
  .message-content {
    margin-bottom: 12px;
  }
  .message-sender {
    margin-bottom: 0;
    font-style: italic;
  }
  &:hover {
    background: #FFFEDC;
  }
}


// .back-to-ask {
//   color: red !important;
// }
